[Unit]
Description=Flask webserver for Temperature measurement with DS18B20
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 %MAINFILELOCATION%

[Install]
WantedBy=multi-user.target
