[Unit]
Description=Flask webserver for Temperature measurement with DS18B20
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/tempmeasureuser/RaspTemp/main.py

[Install]
WantedBy=multi-user.target
